<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0" />
  <meta name="format-detection" content="telephone=no" />
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <title>勘验单详情</title>
  <link rel="stylesheet" type="text/css" href="css/common.css?v=1.1" />
  <script>
    document.write("<link rel='stylesheet' type='text/css' href='css/style.css?v=" + Date.now() + "'/>");
  </script>
</head>

<body style="background:#efeff4">
  <div id="app">
    <div id="appContent">
      <div class="innerCont pb40">
        <div class="item-info">
          <div class="dayCode fixed">今日日期码： <em class="p18 blue">{{dateCode}}</em></div>
          <div class="inner-item">
            <h3 class="item-tit"><span>基本信息</span></h3>
            <ul class="item-lists pb10">
              <li class="item-list">
                <em>客户姓名</em>
                <p><i class="icon_star"></i><span>{{memberInfo.name}}</span></p>
              </li>
              <li class="item-list">
                <em>联系方式</em>
                <p>{{memberInfo.mobile}}</p>
              </li>
              <li class="item-list">
                <em>车牌号码</em>
                <p>{{memberInfo.carNo}}</p>
              </li>
              <li class="item-list">
                <em>车辆车型</em>
                <p>{{memberInfo.bandType}}</p>
              </li>
            </ul>
            <!-- <div class="activeRegle" v-show="memberInfo.userRights">
                            <h3 class="item-tit"><span>权益内容列表</span></h3>
                            <ul class="item-lists item-sepLists" v-for="item in memberInfo.userRights">
                                <li class="item-list">
                                    <em>权益名称</em>
                                    <p>{{item.rightCardName}}</p>
                                </li>
                                <li class="item-list">
                                    <em>起止日期</em>
                                    <p class="omit">{{item.startTime}} - {{item.endTime}}</p>
                                </li>
                                <li class="item-list">
                                    <em>权益数量</em>
                                    <p>{{item.totalNum}} {{item.units}}</p>
                                </li>
                                <li class="item-list">
                                    <em>剩余数量</em>
                                    <p>{{item.residualNum}} {{item.units}}</p>
                                </li>
                            </ul>
                            <h3 class="item-tit pt20"><span>权益使用记录</span></h3>
                            <ul class="item-lists item-sepLists" v-for="item in memberInfo.useRecords">
                                <li class="item-list">
                                    <em>权益名称</em>
                                    <p>{{item.name}}</p>
                                </li>
                                <li class="item-list">
                                    <em>使用日期</em>
                                    <p class="omit">{{item.useTime}}</p>
                                </li>
                                <li class="item-list">
                                    <em>权益数量</em>
                                    <p>{{item.totalNum}}次</p>
                                </li>
                                <li class="item-list">
                                    <em>剩余数量</em>
                                    <p>{{item.usedNum}}次</p>
                                </li>
                            </ul>
                        </div> -->
          </div>
        </div>
        <!-- <div class="item-info" v-show="memberInfo.userRights">
                    <div class="inner-item" style="background:#f4f6f8">
                        <div class="up-down">
                            <span class="sBlue">查看详情</span>
                            <i class="arrDown"></i>
                        </div>
                    </div>
                </div> -->
        <div class="item-info">
          <div class="inner-item">
            <h3 class="item-tit"><span>破损原因</span></h3>
            <!--  <p class="markInfo grey">请查看车身是否受损，如受损请立刻反馈客服并暂不提供服务。</p> -->
            <ul class="item-lists">
              <div class="cont-refuse cont-worn">
                <textarea placeholder="请查看车身是否受损，如受损请立刻反馈客服并暂不提供服务。" v-model="damageReasons"
                  style=" border-radius: 6px; width: 90%; padding: 10px 5%"></textarea>
              </div>
            </ul>
          </div>
        </div>
        <div class="item-info">
          <div class="inner-item" v-show="memberInfo.surveyCheckList">
            <h3 class="item-tit"><span>破损照片</span></h3>
            <ul class="item-lists" v-for="(item,index) in memberInfo.surveyCheckList">
              <h3 class="tit-require pt10">
                <em class="red">*</em>
                <span class="sBlue">{{item.name}}</span>
              </h3>
              <p class="markInfo grey">{{item.remarks}}</p>
              <div class="upDrive">
                <div class="item-pic">
                  <img :src="item.imgurl" width="100%" />
                  <p>例图</p>
                </div>
                <!-- <div class="item-pic upLoadImgs" :checkItemId="item.checkItemId" :orderSn="item.orderSn" @click="upImg(index)">
                                    <img src="images/upload.jpg" class="picFullcar" width="100%" />
                                    <div class="noPass" v-show="item.auditStatus==-1">
                                        <span>不通过</span>
                                        <p>重新上传</p>
                                    </div>
                                </div> -->
                <div class="item-pic upLoadImgs" :checkItemId="item.checkItemId" :orderSn="item.orderSn">
                  <img :src="item.checkItemImg?item.checkItemImg:`images/upload.jpg`" class="picFullcar"
                    :checkItemId="item.checkItemId" :orderSn="item.orderSn" width="100%" />
                  <input accept="image/*" type="file" class="addUploadImg" id="uploadIMG"
                    @change="btnUploadFile(index)" />
                  <div class="maskUploadImg" v-show="item.isShowMask">
                    <span class="maskLoading"></span>
                  </div>

                  <div class="noPass" v-show="item.auditStatus==-1">
                    <span>不通过</span>
                    <p>重新上传</p>
                  </div>
                </div>
                <div v-show="item.auditStatus==-1" class="markInfo red">
                  {{item.auditDes}}
                </div>
              </div>
            </ul>
            <!-- <ul class="item-lists">
                            <h3 class="tit-require">
                                <em class="red">*</em>
                                <span class="sBlue">扩损照</span>
                            </h3>
                            <p class="markInfo grey">照片中需包含（当前的验证码、车牌号、后挡玻璃、右前方玻璃、右后门玻璃）</p>
                            <div class="upDrive">
                                <div class="item-pic">
                                    <img src="images/example.jpg" width="100%" />
                                    <p>例图</p>
                                </div>
                                <div class="item-pic">
                                    <img src="images/upload.jpg" width="100%" />
                                </div>
                            </div>
                        </ul> -->
          </div>
        </div>
      </div>
      <div class="btns">
        <button class="startOrder fullBtn" @click="add">提交勘验单</button>
      </div>
    </div>
    <div id="tip-box">
      <div class="wx_confirm_tit" id="tip-mes"></div>
    </div>
  </div>
</body>
<script src="js/varInfo.js"></script>
<script src="plugins/vue/vue.js"></script>
<script type='text/javascript' src="js/jquery-1.8.2.min.js"></script>
<script type='text/javascript' src="js/jweixin-1.2.0.js"></script>
<script type='text/javascript' src="js/common.js?v=0.6"></script>

<script type='text/javascript' src="js/jswx.js"></script>
<script>
  document.write("<script type='text/javascript' src='js/Service.js?v=" + Date.now() + "'><\/script>");
  document.write("<script type='text/javascript' src='js/insDetail.js?v=" + Date.now() + "'><\/script>");
</script>
</html>