<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0" />
  <meta name="format-detection" content="telephone=no" />
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <title>太阳膜防伪查询</title>
  <link rel="stylesheet" type="text/css" href="css/common.css?v=1.1" />
  <script>
    document.write("<link rel='stylesheet' type='text/css' href='css/style.css?v=" + Date.now() + "'/>");
  </script>
</head>

<body class="qualityQuery">
  <div id="app">
    <div id="appContent">
      <div class="qualityTop">
        <div class="qualityLogo">
          <img src="images/logo.png" height="70px">
          <p>易道大咖</p>
        </div>
        <img src="images/search.png" width="80%">
      </div>
      <div class="innerCont">
        <div class="item-info">
          <div class="inner-item">
            <h3 class="item-tit">
              <span>查询入口</span>
            </h3>
            <ul class="item-lists pb10">
              <li class="item-list">
                <em>防伪编号</em>
                <p>
                  <input type="text" v-model="securityCode" name="" value="" placeholder="请输入防伪编号">
                </p>
              </li>
              <li class="item-list">
                <em>车主信息</em>
                <p>
                  <input type="text" v-model="carNo" name="" value="" placeholder="请输入车牌号码或者联系方式" maxlength="11">
                </p>
              </li>
            </ul>
            <button class="submit blueGraShadow" @click="query">防伪码查询</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="tip-box">
    <div class="wx_confirm_tit" id="tip-mes"></div>
  </div>
  </div>
</body>
<!-- <script src="js/varInfo.js"></script> -->
<script src="plugins/vue/vue.js"></script>
<script type='text/javascript' src="js/jquery-1.8.2.min.js"></script>
<script type='text/javascript' src="js/jweixin-1.2.0.js"></script>
<script type='text/javascript' src="js/common.js?v=0.6"></script>

<!-- <script type='text/javascript' src="js/jswx.js"></script> -->
<script>
  document.write("<script type='text/javascript' src='js/Service.js?v=" + Date.now() + "'><\/script>");
  document.write("<script type='text/javascript' src='js/qualityQuery.js?v=" + Date.now() + "'><\/script>");
</script>
</html>