<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0" />
  <meta name="format-detection" content="telephone=no" />
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <title>太阳膜防伪查询结果</title>
  <link rel="stylesheet" type="text/css" href="css/common.css?v=1.1" />
  <script>
    document.write("<link rel='stylesheet' type='text/css' href='css/style.css?v=" + Date.now() + "'/>");
  </script>
</head>
<body class="qualityQuery">
  <div id="app">
    <div id="appContent">
      <div class="qualityTop" style="padding:10px 0 0;">
        <div class="qualityLogo">
          <img src="images/logo.png" height="70px">
          <p>易道大咖</p>
        </div>
      </div>
      <div class="securite">
        <img src="images/security.png" width="100%">
        <div class="secu-content">
          <ul class="secu-lists">
            <!-- <h3>产品信息</h3> -->

            <li class="item-secu">
              <span>防伪编号：</span>
              <p>{{info.securityCode}}</p>
            </li>
            <li class="item-secu" v-if="info.productAttr">
              <span>规格信息：</span>
              <p>{{info.productAttr}}</p>
            </li>
            <li class="item-secu" v-if="info.saleDate">
              <span>销售日期：</span>
              <p>{{info.saleDate}}</p>
            </li>
            <li class="item-secu" v-if="info.keepYears">
              <span>质保年限：</span>
              <p>{{info.keepYears}}</p>
            </li>
            
          </ul>
          <ul class="secu-lists">
            <!-- <h3>车主信息</h3> -->
            <li class="item-secu">
              <span>车主姓名：</span>
              <p>{{info.userName}}</p>
            </li>
            <li class="item-secu">
              <span>车主电话：</span>
              <p>{{info.userMobile}}</p>
            </li>
          </ul>
          <ul class="secu-lists">
            <!-- <h3>门店信息</h3> -->
            <li class="item-secu" v-if="info.shopchargeName">
              <span>门店联系人：</span>
              <p>{{info.shopchargeName}}</p>
            </li>
            <li class="item-secu" v-if="info.shopLinktel">
              <span>门店电话：</span>
              <p>{{info.shopLinktel}}</p>
            </li>
            <li class="item-secu">
              <span>门店地址：</span>
              <p>{{info.shopAddress}}</p>
            </li>
          </ul>
        </div>
        <button class="goHome" @click="goHome">返回首页</button>
      </div>
    </div>
    <div id="tip-box">
      <div class="wx_confirm_tit" id="tip-mes"></div>
    </div>
  </div>
</body>
<!-- <script src="js/varInfo.js"></script> -->
<script src="plugins/vue/vue.js"></script>
<script type='text/javascript' src="js/jquery-1.8.2.min.js"></script>
<script type='text/javascript' src="js/common.js?v=0.6"></script>

<script>
  document.write("<script type='text/javascript' src='js/Service.js?v=" + Date.now() + "'><\/script>");
  document.write("<script type='text/javascript' src='js/qualityDetail.js?v=" + Date.now() + "'><\/script>");
</script>
</html>