<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0" />
  <meta name="format-detection" content="telephone=no" />
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <title>证书查询</title>
  <link rel="stylesheet" type="text/css" href="css/common.css?v=1.2" />
  <script>
    document.write("<link rel='stylesheet' type='text/css' href='css/style.css?v=" + Date.now() + "'/>");
  </script>
</head>

<body style="background:#efeff4">
  <div id="app">
    <div id="appContent">
      <div class="textLogo">
        <img src="images/certi.jpg" width="100%" />
      </div>
      <div class="enterLists" style="margin:-26px auto 0">
        <div class="item-info" style="padding:4px 0 14px 0">
          <div class="inner-item">
            <ul class="item-lists">
              <li class="item-list" style="position:relative; margin:16px 0">
                <em style="text-indent: 6px">请选择省</em>
                <p>
                  <select v-model="certiInfo.statesId" @change="cngProv">
                    <option value="">请选择省 </option>
                    <option :value="item.id" v-for="item in provList">{{item.name}}</option>
                  </select>
                  <span class="icon_down" style="right:21px; top:21px "></span>
                </p>
              </li>
              <li class="item-list" style="position:relative; margin:16px 0" v-if="certiInfo.statesId">
                <em style="text-indent: 6px">请选择市</em>
                <p>
                  <select v-model="certiInfo.cityId" @change="cngCity">
                    <option value="">请选择市 </option>
                    <option :value="item.id" v-for="item in cityList">{{item.name}}</option>
                  </select>
                  <span class="icon_down" style="right:21px; top:21px "></span>
                </p>
              </li>
              <li class="item-list" style="position:relative; margin:16px 0" v-if="certiInfo.cityId">
                <em style="text-indent: 6px">请选择区</em>
                <p>
                  <select v-model="certiInfo.zoneId" @change="cngZone">
                    <option value="">请选择区 </option>
                    <option :value="item.id" v-for="item in zoneList">{{item.name}}</option>
                  </select>
                  <span class="icon_down" style="right:21px; top:21px "></span>
                </p>
              </li>
              <li class="item-list" style="position:relative;">
                <em style="text-indent: 6px">证书信息</em>
                <p>
                  <input type="text" v-model="certiInfo.name" name="" value="" placeholder="请输入门店名或证书编号" />
                </p>
              </li>
            </ul>
          </div>
        </div>
        <div>
          <button class="submit blueGraShadow" @click="srhCerti">证书查询</button>
        </div>
      </div>
      <div class="bot-data grey">咨询电话：400-988-6868</div>
    </div>
    <div id="tip-box">
      <div class="wx_confirm_tit" id="tip-mes"></div>
    </div>
  </div>
</body>
<!-- <script src="js/varInfo.js"></script> -->
<script src="plugins/vue/vue.js"></script>
<script type='text/javascript' src="js/jquery-1.8.2.min.js"></script>
<script type='text/javascript' src="js/jweixin-1.2.0.js"></script>
<script type='text/javascript' src="js/common.js?v=0.7"></script>

<script type='text/javascript' src="js/jswx.js?v=2.3"></script>
<script>
  document.write("<script type='text/javascript' src='js/Service.js?v=" + Date.now() + "'><\/script>");
  document.write("<script type='text/javascript' src='js/certificate.js?v=" + Date.now() + "'><\/script>");
</script>
</html>