<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0" />
  <!-- <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0" /> -->
  <meta name="format-detection" content="telephone=no" />
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <title>技能大赛</title>
  <link rel="stylesheet" type="text/css" href="css/common.css?v=1.1" />
  <script>
    document.write("<link rel='stylesheet' type='text/css' href='css/style.css?v=" + Date.now() + "'/>");
  </script>
</head>

<body style="background:#efeff4">
  <div id="app">
    <div id="appContent">
      <div v-show="!isShowShopUser">
        <div class="innerCont pb40">
          <div class="item-info">
            <div class="inner-item">
              <h3 class="item-tit"><span>客户信息</span></h3>
              <ul class="item-lists pb10">
                <li class="item-list">
                  <em>客户姓名</em>
                  <p>
                    <input type="text" name="" v-model="userName" placeholder="请输入客户姓名">
                  </p>
                </li>
                <li class="item-list">
                  <em>联系方式</em>
                  <p><input type="number" name="" v-model="mobile" placeholder="请输入联系电话"
                      oninput="if(value.length>11) value=value.slice(0,11)"
                      onKeyUp="this.value=this.value.replace(/[^\d]/g, '')"></p>
                </li>
                <li class="item-list">
                  <em>客户性别</em>
                  <ul class="sexSelect fixed">
                    <li @click="cngSex('man')"><i class="iconRadio" :class="sexMan ? `iconOk` : ``"></i><span
                        class="sex">男</span></li>
                    <li @click="cngSex('woman')"><i class="iconRadio" :class="sexMan ? `` : `iconOk`"></i><span
                        class="sex">女</span></li>
                  </ul>
                </li>
              </ul>

            </div>
          </div>
          <div class="item-info">
            <div class="inner-item">
              <h3 class="item-tit"><span>技师信息</span></h3>
              <ul class="item-lists" v-show="personInfo.name">
                <li class="item-list">
                  <em>技师姓名</em>
                  <p>
                    {{personInfo.name}}
                  </p>
                </li>
                <li class="item-list">
                  <em>技师性别</em>
                  <p>{{personInfo.sexValue}}</p>
                </li>
                <li class="item-list">
                  <em>身份证号</em>
                  <p>{{personInfo.cardId}}</p>
                </li>
              </ul>
              <div v-show="!personInfo.name" class="no-data">暂无技师信息</div>
              <div class="options" style="display: flex; justify-content: flex-end;">
                <div class="item-option blue" v-show="!personInfo.name" @click="addUser">
                  <p class="item-option-add">+ 选择员工</p>
                </div>
                <div class="item-option" v-show="personInfo.name" @click="delUserInfo">
                  <div style="display: flex;">
                    <span class="icon-del"></span>
                    <em class="red">删除</em>
                  </div>
                </div>
              </div>

            </div>
          </div>

          <div class="item-info">
            <div class="inner-item">
              <h3 class="item-tit"><span>竞赛照片信息</span></h3>
              <ul class="item-lists" v-for="(item,index) in matchPics">
                <h3 class="tit-require pt10">
                  <em class="red">*</em>
                  <span class="sBlue">{{item.name}}</span>
                </h3>
                <p class="markInfo grey">{{item.remarks}}</p>
                <div class="upDrive">
                  <div class="item-pic" @click="showBigImg(item.imgurl)">
                    <img :src="item.imgurl" width="100%" />
                    <p>例图</p>
                  </div>
                  <!-- <div class="item-pic upLoadImgs" :symType="item.symType"  @click="upImg(index)">
                                    <img src="images/upload.jpg" class="picFullcar" width="100%" /> -->
                  <div class="item-pic upLoadImgs" :symType="item.symType">
                    <img src="images/upload.jpg" class="picFullcar" width="100%" />
                    <input accept="image/*" type="file" class="addUploadImg" id="uploadIMG"
                      @change="btnUploadFile(index)" />
                    <div class="maskUploadImg" v-show="item.isShowMask">
                      <span class="maskLoading"></span>
                    </div>
                  </div>
                  <!-- <div v-show="item.auditStatus==-1" class="markInfo red">
                                    {{item.auditDes}}
                                </div> -->
                </div>
              </ul>
              <!-- <ul class="item-lists">
                            <h3 class="tit-require">
                                <em class="red">*</em>
                                <span class="sBlue">扩损照</span>
                            </h3>
                            <p class="markInfo grey">照片中需包含（当前的验证码、车牌号、后挡玻璃、右前方玻璃、右后门玻璃）</p>
                            <div class="upDrive">
                                <div class="item-pic">
                                    <img src="images/example.jpg" width="100%" />
                                    <p>例图</p>
                                </div>
                                <div class="item-pic">
                                    <img src="images/upload.jpg" width="100%" />
                                </div>
                            </div>
                        </ul> -->
            </div>
          </div>
        </div>
        <div class="btns">
          <button class="startOrder fullBtn" @click="add">提交</button>
        </div>
      </div>
      <div v-show="isShowShopUser" style="background: #f8f8f8">
        <div class="innerCont pb40 shopCont" style="margin: 0 auto 40px; padding:10px 0">
          <!-- 选择店员 -->
          <div class="item-info" v-for="item in pdlist">
            <div class="inner-item">
              <ul class="item-lists" @click="getSelectUser(item)">
                <li class="item-list">
                  <em>店员姓名</em>
                  <p>
                    <span class="blue">{{item.name}}</span>
                    <span>（{{item.sexValue}}）</span>
                  </p>
                </li>

                <li class="item-list">
                  <em>身份证号</em>
                  <p>{{item.cardId}}</p>
                </li>
                <span class="icon_check " :class=" item.selFlag ?  `icon_check_on` : ``"></span>
              </ul>
            </div>
          </div>
          <div class="no-data" v-show="!pdlist.length">
            <span>暂无店员信息</span> <a href="shopUserManager.html" class="blue">去添加</a>
          </div>
        </div>
        <div class="btns">
          <button class="startOrder fullBtn" @click="cancelUerSel()">返回</button>
          <!--  <button class="startOrder " @click="surUserSel()">确认选择</button> -->
        </div>
      </div>
      <div class="maskBigPic" v-show="isShow" @click="hideMask"></div>
      <div class="closeBigPic" v-show="isShow" @click="hideMask"></div>
      <div class="showBigPic" v-show="isShow"><img :src="bigPic" width="100%" /></div>
    </div>
    <div id="tip-box">
      <div class="wx_confirm_tit" id="tip-mes"></div>
    </div>

  </div>
</body>
<script src="js/varInfo.js"></script>
<script src="plugins/vue/vue.js"></script>
<script type='text/javascript' src="js/jquery-1.8.2.min.js"></script>
<script type='text/javascript' src="js/jweixin-1.2.0.js"></script>
<script type='text/javascript' src="js/common.js?v=0.6"></script>

<script type='text/javascript' src="js/jswx.js"></script>
<script>
  document.write("<script type='text/javascript' src='js/Service.js?v=" + Date.now() + "'><\/script>");
  document.write("<script type='text/javascript' src='js/matchSkill.js?v=" + Date.now() + "'><\/script>");
</script>
</html>