<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0" />
  <meta name="format-detection" content="telephone=no" />
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <title>消息列表</title>
  <link rel="stylesheet" type="text/css" href="css/common.css?v=1.1" />
  <link rel="stylesheet" href="plugins/mescroll/mescroll.min.css">
  <script>
    document.write("<link rel='stylesheet' type='text/css' href='css/style.css?v=" + Date.now() + "'/>");
  </script>
</head>

<body style="background:#f8f8f8">
  <div id="app">

    <!-- 头部信息结束 -->
    <div class="content nobottom orderList_content">
      <div id="mescroll" class="notice-content selService-content mescroll" style="top:0">
        <ul id="dataList" class="messageList-items dataList">
          <li class="messageList" v-for="item in pdlist" @touchstart="down(item.id)" @touchend="up()" @click="toDetail(item.messageParams,item.id,item.messageCategory)">
            <h3 class="item-news-title">
              <div class="dot" v-if="!item.readFlag"></div>
              <span class="omit messageFlex">{{item.messageTitle}}</span>
              <em>{{item.createDate}}</em>
            </h3>
            <p class="item-news-desc">{{item.messageContent}}</p>
          </li>
        </ul>
      </div>
    </div>

    <div id="tip-box">
      <div class="wx_confirm_tit" id="tip-mes"></div>
    </div>

    <div id="maskBox" class="maskBox" v-if="mask" style="display: none;">
        <div class="masktip">
                <div class="title">温馨提示</div>
                <div class="font">是否确认删除</div>
            <div class="bottom">
                <div class="cancle" @click="cancle">取消</div>
                <div class="confirm" @click="confirm">确定</div>
            </div>
        </div>
    </div>

    <div class="readBtn" id="readBtn" style="display: none;" v-if="is_read" @click="readAll()">一键已读</div>
  </div>
</body>
 
<script src="plugins/vue/vue.js"></script>
<script src="plugins/mescroll/mescroll.min.js" type="text/javascript" charset="utf-8"></script>
<script type='text/javascript' src="js/jquery-1.8.2.min.js"></script> <script src="js/varInfo.js"></script>
<script type='text/javascript' src="js/common.js?v=0.6"></script>

<script src="plugins/lazyload/lazyload.js"></script>
<script>
  document.write("<script type='text/javascript' src='js/Service.js?v=" + Date.now() + "'><\/script>");
  document.write("<script type='text/javascript' src='js/messageList.js?v=" + Date.now() + "'><\/script>");
</script>
</html>