<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0" />
  <meta name="format-detection" content="telephone=no" />
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <title>百度客户结算中列表</title>
  <link rel="stylesheet" type="text/css" href="css/common.css?v=1.1" />
  <link rel="stylesheet" href="plugins/mescroll/mescroll.min.css">
  <script>
    document.write("<link rel='stylesheet' type='text/css' href='css/style.css?v=" + Date.now() + "'/>");
  </script>
</head>

<body style="background:#f8f8f8">
  <div id="app">
    <div class="queryWarp">
      <div class="query-item">
        <div class="query-title" @click="toSettleList">
          <em><b>待结算</b></em>
        </div>
        <div class="query-title blue">
          <em><b>结算中</b></em>
        </div>
        <div class="query-title" @click="toSettleListEnd">
          <em><b>已结算</b></em>
        </div>
      </div>
    </div>
    <!-- 头部信息结束 -->
    <div class="content nobottom orderList_content">
      <div id="mescroll" class="notice-content selService-content mescroll" style="top:50px">
        <!-- 待支付 -->
        <ul id="dataList" class="order-items">
          <li class="settleList" v-for="item in pdlist">
            <!-- <div class="settleInfo" style="width: 94%">
                            <h3 class="settle-tit">
                                <span><b>{{item.settlementSn}}</b></span>
                                <em class="blue">结算中</em>
                                </h3>
                            <div class="settle-context">
                                <div class="item-info">
                                    <label class="grey">结算时间：</label>
                                    <span><b>{{item.settlementTime}}</b></span>
                                </div>
                                <div class="item-info">
                                    <label class="grey">工单单号：</label>
                                    <span>{{item.orderSn}}</span>
                                </div>
                                <div class="item-info">
                                    <label class="grey">工单时间：</label>
                                    <span>{{item.orderTime}}</span>
                                </div>
                                <div class="item-info">
                                    <label class="grey">商品名称：</label>
                                    <span style="width: 70%; display: inline-block; line-height: 26px">{{item.productName}}</span>
                                </div>
                                <div class="item-info">
                                    <label class="grey">零部件编码：</label>
                                    <span>{{item. partSn}}</span>
                                </div>
                                <div class="item-info">
                                    <label class="grey">客户信息：</label>
                                    <span>{{item.userName}}  {{item.mobile}}</span>
                                </div>
                                <div class="item-info">
                                    <label class="grey">车牌信息：</label>
                                    <span class="blue">{{item.carNo}}</span>
                                </div>
                                <div class="item-info">
                                    <label class="grey">订单金额：</label>
                                    <span class="red">{{item.orderPrice}}</span>
                                </div>
                                <div class="item-info">
                                    <label class="grey">会员类型：</label>
                                    <span><b>{{item.userTypeName}}</b></span>
                                </div>
                                <div class="set-prix">
                                    <span class="red p16">¥ <em class="setPrix"><b>{{item.settlePrice}}</b></em> </span>
                                </div>
                                <div class="item-info" v-if="item.auditDec">
                                    <label class="grey">审核信息：</label>
                                    <span style="line-heigh:24px">{{item.auditDec}}</span>
                                </div>
                            </div>
                        </div> -->
            <div class="settleInfo" @click="toView(item)">
              <h3 class="settle-tit" style="border:none">
                <span><b>{{item.settlementDate}}</b></span>
                <em class="blue">{{item.settlementStatusDes}}</em>
              </h3>
              <div class="settle-context">
                <div class="item-info">
                  <label class="grey">结算单号：</label>
                  <span>{{item.settlementSn}}</span>
                </div>
                <div class="item-info">
                  <label class="grey">结算金额：</label>
                  <span class="red">¥ <b>{{item.settlementAmount}}</b></span>
                </div>
                <span class="showMore" style="top:40%"></span>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div id="tip-box">
      <div class="wx_confirm_tit" id="tip-mes"></div>
    </div>
  </div>
</body>

 
<script src="plugins/vue/vue.js"></script>
<script src="plugins/mescroll/mescroll.min.js" type="text/javascript" charset="utf-8"></script>
<script type='text/javascript' src="js/jquery-1.8.2.min.js"></script> <script src="js/varInfo.js"></script>
<script type='text/javascript' src="js/common.js?v=0.6"></script>

<script src="plugins/lazyload/lazyload.js"></script>
<script>
  document.write("<script type='text/javascript' src='js/Service.js?v=" + Date.now() + "'><\/script>");
  document.write("<script type='text/javascript' src='js/settleBdListIng.js?v=" + Date.now() + "'><\/script>");
</script>
</html>